.btn {
    padding: 6px 25px;
    border-radius: 20px;
    font-size: inherit;
}

.btn.btn-primary {
    background-color: #169A8A;
    color: #FFFFFF;
    border: 2px solid #169A8A;
    font-weight: bold;
}

    .btn.btn-primary:hover {
        background-color: #FFFFFF;
        color: #169A8A;
        border: 2px solid #169A8A;
        text-decoration: none;

    }

    .btn.btn-white {
        background-color: #FFFFFF;
        color: #169A8A;
        border: 2px solid #FFFFFF;
        font-weight: bold;
    }

    .btn.btn-white:hover {
        background-color: #169A8A;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        text-decoration: none;
    }