@{
    ViewBag.Title = "Error | LL Coaching Academy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<p>An error occurred while processing your request.</p>
<p>Error: @ViewBag.Error</p>