@{
    ViewBag.Title = "Alternative Services | LL Coaching Academy";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "Stuck on birthday party ideas in the Maidstone area?  Well here at LL Coaching Academy we can provide you the perfect birthday party for the perfect price!";
}
<div class="alternative-services-page">
    <h1>- Birthday Parties -</h1>

    <div class="party-holder">
        <div class="party-title gold">
            <div><span>2 hours</span></div>
            <div><span>GOLD</span></div>
            <div><span>from £110.00</span></div>
        </div>
        <div class="party-details">
            <h3>- What's Included -</h3>
            <ul>
                <li><span>1 hour of fun games and technical drills</span></li>
                <li><span>1 hour tournament</span></li>
                <li><span>Trophy for the birthday boy or girl</span></li>
                <li><span>Medals for tournament winners</span></li>
            </ul>
        </div>
    </div>

    <div class="party-holder">
        <div class="party-title silver">
            <div><span>1 hour 30 mins</span></div>
            <div><span>SILVER</span></div>
            <div><span>from £90.00</span></div>
        </div>
        <div class="party-details">
            <h3>- What's Included -</h3>
            <ul>
                <li><span>30 minute technical session</span></li>
                <li><span>1 hour tournament</span></li>
                <li><span>Trophy for the birthday boy or girl</span></li>
            </ul>
        </div>
    </div>

    <div class="party-holder">
        <div class="party-title bronze">
            <div><span>1 hour</span></div>
            <div><span>BRONZE</span></div>
            <div><span>from £60.00</span></div>
        </div>
        <div class="party-details">
            <h3>- What's Included -</h3>
            <ul>
                <li><span>15 minute technical session</span></li>
                <li><span>45 minute tournament</span></li>
                <li><span>Trophy for the birthday boy or girl</span></li>
            </ul>
        </div>
    </div>
</div>