@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Home | LL Coaching Academy";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "Welcome to LL Coaching Academy, please give us a call if you are interesed in sending your child to a soccer school in the Ditton area";
}

@model LLCAcademy.Models.Feedback

<div class="home-page">
    <ul class="bxslider">
        <li><img src="~/Content/Images/Slideshow/Slideshow8.png" alt="Slideshow Image 1" /></li>
        <li><img src="~/Content/Images/Slideshow/Slideshow4.jpg" alt="Slideshow Image 2" /></li>
        <li><img src="~/Content/Images/Slideshow/Slideshow2.png" alt="Slideshow Image 3" /></li>
        <li><img src="~/Content/Images/Slideshow/Slideshow3.jpg" alt="Slideshow Image 4" /></li>
        <li><img src="~/Content/Images/Slideshow/Slideshow5.jpg" alt="Slideshow Image 5" /></li>
        <li><img src="~/Content/Images/Slideshow/Slideshow1.png" alt="Slideshow Image 6" /></li>
        <li><img src="~/Content/Images/Slideshow/Slideshow7.jpg" alt="Slideshow Image 7" /></li>
        <li><img src="~/Content/Images/Slideshow/Slideshow6.jpg" alt="Slideshow Image 8" /></li>
        <li><img src="~/Content/Images/Slideshow/Slideshow9.jpg" alt="Slideshow Image 9" /></li>
    </ul>

    <h1>- About Us -</h1>
    <div class="about-section">
        <div class="about-us-row">
            <div class="image-holder">
                <img src="~/Content/Images/Home1.jpg" alt="Training Session" />
            </div>
            <div><p>Welcome to LL Coaching Academy website, we hope you find our website friendly and useful.  LL Coaching Academy is a football coaching organisation based in Maidstone, Kent.  Our aim is to make a difference, provide fun sessions that will also help develop children's football technique, striving to help them progress.</p></div>
        </div>
    </div>
    <hr />
    <div class="review-section">
        <h2>- Reviews -</h2>
        @if (ViewBag.Feedback != null && ViewBag.Feedback.Count > 0)
        {
            foreach (var feedback in ViewBag.Feedback)
            {
                <div class="feedback-post">
                    @{
                var cleansedFeedback = "<p>\"" + Regex.Replace(feedback.FeedbackText, @"\r\n?|\n", "</p><p>") + "\"</p>";
                    }
                    @Html.Raw(cleansedFeedback)
                    <div class="feedback-name"><p>@feedback.FullName</p></div>
                </div>
            }
        }
        else
        {
            <div>Sorry, there hasn't been any feedback yet, please check back soon!</div>
        }
    </div>

</div>

<script>
    $(function () {
        startSlider();

        $(window).resize(function () {
            startSlider();
        });
    });

    function startSlider() {
        if ($(window).width() > 780) {
            $('.bxslider').bxSlider({
                minSlides: 3,
                maxSlides: 3,
                slideWidth: 360,
                slideMargin: 10,
                pager: false,
                auto: true,
                controls: false
            });
        } else {
            $('.bxslider').bxSlider({
                minSlides: 1,
                maxSlides: 1,
                slideWidth: 360,
                slideMargin: 10,
                pager: false,
                auto: true,
                controls: false
            });
        }
    }

</script>