@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Home | LL Coaching Academy";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "Welcome to LL Coaching Academy, please give us a call if you are interesed in sending your child to a soccer school in the Ditton area";
}
@section Head{
    <link href="~/Content/CSS/home.css" rel="stylesheet" />
}


@model LLCAcademy.Models.Feedback

<div class="home-page">
    <div class="home-banner">
        <div>
            <h1>Looking to book an event?</h1>
            <p>We host training sessions for birthday parties, schools, events and much more.</p>
            <a href="@Url.Action("alternativeservices", "Home")" class="btn btn-white">see more</a>
        </div>
        <div></div>
    </div>

    <div class="home-main-content">
        <div>
            <div class="grey-square">
                <div class="grey-square-header">
                    <h2>About</h2>
                </div>
                <p>Welcome to LL Coaching Academy website, we hope you find our website friendly and useful. LL Coaching Academy is a football coaching organisation based in Maidstone, Kent.</p>
                <p>Our aim is to make a difference, provide fun sessions that will also help develop children's football technique, striving to help them progress.</p>
            </div>

            <div class="grey-square">
                <div class="party-image">
                    <img src="~/Content/Images/home/party-icon.png" />
                </div>
                <div class="grey-square-header center">
                    <h2>Parties</h2>
                </div>
            </div>
        </div>
        <div>
            <div><h2>Sessions</h2></div>
            <div class="slider-holder">
                <div class="bxslider">
                    <div class="slide-pane">
                        <div class="slider-square">
                            <div class="slider-content">
                            </div>
                            <div class="slider-button">
                                <a href="https://www.llcoachingacademy.co.uk" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-pane">
                        <div class="slider-square">
                            <div class="slider-content">
                            </div>
                            <div class="slider-button">
                                <a href="https://www.llcoachingacademy.co.uk" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-pane">
                        <div class="slider-square">
                            <div class="slider-content">
                            </div>
                            <div class="slider-button">
                                <a href="https://www.llcoachingacademy.co.uk" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-pane">
                        <div class="slider-square">
                            <div class="slider-content">
                            </div>
                            <div class="slider-button">
                                <a href="https://www.llcoachingacademy.co.uk" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-pane">
                        <div class="slider-square">
                            <div class="slider-content">
                            </div>
                            <div class="slider-button">
                                <a href="https://www.llcoachingacademy.co.uk" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-pane">
                        <div class="slider-square">
                            <div class="slider-content">
                            </div>
                            <div class="slider-button">
                                <a href="https://www.llcoachingacademy.co.uk" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        startSlider();

        $(window).resize(function () {
            startSlider();
        });
    });

    function startSlider() {
        if ($(window).width() > 780) {
            $('.bxslider').bxSlider({
                minSlides: 3,
                maxSlides: 3,
                slideWidth: 1000,
                slideMargin: 50,
                pager: false,
                auto: true,
                controls: true
            });
        } else {
            $('.bxslider').bxSlider({
                minSlides: 1,
                maxSlides: 1,
                slideWidth: 360,
                slideMargin: 10,
                pager: false,
                auto: true,
                controls: false
            });
        }
    }

</script>
